certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==5.0.0
docker-pycreds==0.4.0
future==0.18.2
gitdb==4.0.5
GitPython==3.1.7
gql==0.2.0
graphql-core==1.1
h5py==2.10.0
idna==2.10
llvmlite==0.33.0
numba==0.50.1
numpy==1.19.1
nvidia-ml-py3==7.352.0
pathtools==0.1.2
Pillow==7.2.0
promise==2.3
psutil==5.7.2
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
sentry-sdk==0.16.3
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
# pip install torch==1.6.0+cu101 torchvision==0.7.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
#torch==1.6.0+cu101
#torchvision==0.7.0+cu101
tqdm==4.48.2
urllib3==1.25.10
wandb==0.9.4
watchdog==0.10.3
